<header class="header bg-primary text-white" id="header">
    <div class="header-content container d-flex justify-content-between align-items-center flex-direction-sm-column">
        <div class="logo py-5 align-self-sm-start ps-sm-5">
            <a href="./home.html">眼鏡官網</a>
        </div>
        <ul class="header-nav d-flex justify-content-between flex-wrap-sm-wrap fz-lg fz-sm-md">
            <li><a href="./products.html" class="d-block  py-sm-4">系列鏡框</a></li>
            <li><a href="./stores.html" class="d-block  py-sm-4">門市據點</a></li>
            <li><a href="./blogs.html" class="d-block  py-sm-4">部落格</a></li>
            <li><a href="./faq.html" class="d-block  py-sm-4">常見問題</a></li>
        </ul>
    </div>
</header>
