.section-title{
    font-size: map-get($fz,5xl);
    &-styled{    
        text-indent: 1rem;
        border-left: 8px solid $red-dark-100;
    }
    @include mobile{
        font-size:  map-get($fz, xl );
    }
}