:is(.breadcrumb,
	.social-tags-list,
	.other-article ) a{
		@include hover{
			color: red;
		}
	}
.blog-nav{	
	@include mobile{
		gap: min(25px,4vw);
	}
	@include ex-mini{ //338會破版
		display: none;
	}
}

.breadcrumb li {
	&:last-child {
		color: $red-dark-100;
	}
	+ li {
		@include before('\a0/\a0');
	}
	@include hover {
		&::before {
			color: $black;
		}
	}
}

.page-tags {
	gap: 15px;
	a {
		@include hover {
			color: red;
		}
	}
}

.blog-page {
	gap: 24px;
	&-content {
		width: min(67%, 856px);
		@include mobile {
			width: 100%;
		}
	}
}
.social-tags {
	flex-grow: 1;
	&-title span {
		vertical-align: middle;
	}
}

.social-share {
	border-bottom: 1px solid $gray-700;

	&-link {
		gap: 16px;
		img {
			width: 24px;
			aspect-ratio: 1;
			@include hover {
				@include hover-lift;
				filter: none;
			}
		}
	}
}
.pre-article-btn,
.next-article-btn {
	@include hover {
		:not(.material-icons-outlined) {
			@include hover-wavy;
		}
	}
}
