.blog-nav {
	padding-block: 13px;
	gap: 48px;
	li {
		@include hover {
			@include hover-lift {
				filter: none;
			}
		}
	}
	&-search-link {
		margin-left: auto;
		span {
			font-size: 30px;
			vertical-align: middle;
		}
	}
}

.blog-list {
	.list-item {
		gap: 24px;
		&:not(:last-child) {
			margin-bottom: 60px;
		}
		.blog-img-link,
		.blog-article {
			width: calc(50% - 12px);

			@include mobile{
				width: 100%;
			}
		}
		.blog-img-link img {
			object-fit: cover;
			@include hover {
				@include hover-green-outlined;
			}
		}
	}
}
.blog-article-content {
	flex-grow: 1;
}


.blog-link {
	@include hover-floatUp;
	&-md{
		@include hover{
			@include hover-clr-red;
		}
	}
}

