.index-banner {
	padding-block: 296px;
	background-image: url(../images/home-header.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	@include pad {
		background-image: url(../images/home-header-sm.png);
	}
	@include mobile {
		padding-block: 144px;
	}
	.banner-content {
		@include mobile{
			p {
				font-size: max(16px, 4vw);
			}
			.slogan {
				font-size: max(24px, 6vw);
			}
		}
		a {
			transition: 500ms;
			@include hover {
				padding-inline: 36px;
				outline: 0.2em solid $white;
				outline-offset: -0.2em;
			}
		}
	}
}

.our-service-content {
	gap: 24px;
	li {
		width: 25%;

		@include pad {
			width: calc(50% - 12px);
		}
		@include mobile {
			width: 100%;
		}
		img {
			width: 100px;
			aspect-ratio: 1;
		}
	}
}

.classic-glasses-content {
	gap: 24px;
	li img {
		aspect-ratio: 1;
		width: 416px;
		@include pad {
			width: 336px;
		}
	}
}

.co-branding-series {
	background-image: url(../images/index-bg.png);
	background-position: center;
	background-size: cover;
	@include pad {
		background-image: url(../images/index-bg-sm.png);
	}

	.co-branding-series-content {
		@include pad {
			gap: 24px;
		}
		.img-wrap {//切換圖片
			:last-child {
				display: none;
				opacity: 0;
			}
			@include mobile{
					:first-child {
						display: none;
						opacity: 0;
					}
					:last-child {
						display: block;
						opacity: 1;
					}
			}
		}
	}
}

.customer-recommend-content {
	gap: 24px;
	li {
		width: 25%;
		@include pad {
			width: calc(50% - 12px);
		}
		@include mini {
			width: 100%;
		}
		.card-content {
			min-height: 205px;
			border: 1px solid $gray-300;
			box-shadow: $box-shadow;
		}
	}
}

.contact-me-form {
	width: 50%;
	@include pad {
		width: 75%;
	}
	@include mobile {
		width: 100%;
	}
	label,
	[type='button'] {
		cursor: pointer;
	}
	textarea,
	input {
		width: 100%;
		border: 1px solid $black;
		background: transparent;
	}
	.form-group {
		textarea {
			height: 136px;
			resize: none;
		}
		input[type='checkbox'] {
			width: fit-content;
		}
	}

	.form-submit {
		input {
			border: none;
			width: 100%;
			max-width: 414px;
			background: $red;
			@include hover {
				opacity: 0.7;
			}
		}
	}
}
