
.store-content {
	gap: 24px;
	.store-card {
		width: calc((100% / 12 * 5) - 12px); //col-5
		@include pad {
			width: 100%;
			gap: 24px;
			& > * {
				width: calc(50% - 12px);
			}
		}
		@include mobile {
			gap:0;
			& > * {
				width: 100%;
			}
		}
	}

	.store-map {
		flex-grow: 1;
		@include pad {
			height: min(414px, 60vw);
			aspect-ratio: 1.7/1;
		}
	}

}
