
.store-selector{
    select{
        vertical-align: middle;
        font-size: 18px;
        line-height: 26px;
        width: 304px;
        border: 1px solid $gray-600;
        @include mobile{
            width: min(278px,66vw); //310px
        }
    }  
}

.store-card-group{
    gap:24px;
    .store-card{
        width: calc((100% - 2 * 24px) / 3) ;
        @include pad {
            width: calc(50% - 24px);
        }
        @include mobile {
            width: 100%;
        }
    }
}
.store-card-item{
    &,& > *{
        border: 1px solid $gray-400;
    }
    .card-button{
        font-size: 19px;
        @include hover{
            opacity: .75;
        }
    }
}
