@each $item in $display {
	.d-#{$item} {
		display: $item;
	}
}
@include pad {
	@each $item in $display {
		.d-md-#{$item} {
			display: $item;
		}
	}
}
@include mobile {
	@each $item in $display {
		.d-sm-#{$item} {
			display: $item;
		}
	}
}
